@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background-image: url(./assets/bg-image.png);
  background-color: #010101;
  background-size: "cover";
  background-repeat: "no-repeat";
  background-position: "center";
  position: "absolute";
}
.showDrawer {
  top: 9%;
}
.toast-loading{
  background: #191919 !important;
  color: #fff !important;
}
.Toastify__close-button{
  color: #fff !important;
}
:root {
  --toastify-color-progress-dark: #ffffff !important;
}